extends layout

block content
    h1= title
    p= test_message
  
    section
        form(method="POST" action="/scrape_accounts" id="scrape_accounts")
            ul
                li
                    p
                        label(for="accounts") Accounts
                    p
                        textarea(type="text" name="accounts" id="accounts" form="scrape_accounts")
                li  
                    p
                        label(for="accounts") Number of tweets!
                    p
                        input(type="text" name="count")

            input(type="submit")

    if statusdict
        section(class="tweets")
            ul
                each statuses, account in statusdict
                    li
                        section(class="tweet-category")
                            h1= account
                            ul
                                each status in statuses
                                    li
                                        aside(class="tweet-author")
                                            p= "\'@"+status.user.name+"\' says..."

                                        p= status.text
    if !statusdict
        p No statuses to display.